.div1 {
  @apply w-44 h-44 bg-red-500 animate-move1;
}

.div2 {
  @apply w-44 h-44 bg-blue-500 animate-move2;
}
.div3 {
  @apply w-44 h-44 bg-blue-500 animate-move3;
}

.div4 {
  @apply flex flex-col gap-2 h-full w-full  justify-center items-center flex-wrap animate-textAnimation;
}

.hStyle {
  @apply text-7xl text-white text-shadow-custom font-bold;
}

.div5 {
  @apply w-16 h-16 rounded-lg bg-white animate-rotation border-2  border-red-500;
}

.text1 {
  @apply text-5xl;
}
.text2::after {
  content: "Programing";
  font-size: 55px;
  color: rgb(9, 57, 78);
  animation: wordSwitch 4s infinite alternate;
}

@keyframes wordSwitch {
  0% {
    content: "Css";
  }
  50% {
    content: "Programing";
  }
  100% {
    content: "TypeScripte";
  }
}
