
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.beforeEl{
    @apply before:absolute before:w-full before:-rotate-90 before:origin-bottom-left before:left-0 before:h-full before:bg-yellow-300 before:-z-10 before:duration-300 w-32 h-16 overflow-hidden border-2 before:hover:rotate-0 border-gray-800 relative flex justify-center items-center 
}
.beforeTranslate {
    @apply before:w-full before:h-full before:bg-green-500 before:absolute  before:left-0 before:top-0 before:rounded-lg before:-z-10 before:-translate-x-full  before:duration-300 before:hover:translate-x-0  
}