@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hover animation of button in open navigation
.sp-parent{
    @apply   text-yellow-300 border w-1/2 flex justify-center items-center h-12  border-yellow-300 px-4 py-2 transition-all duration-500 relative overflow-hidden hover:text-white ;
}

.sp-child1{
     @apply left-0 w-1/3 bg-yellow-400 h-full absolute top-0  -translate-y-full duration-500 group-hover:translate-y-0 delay-100 -z-10  
}
.sp-child2{
     @apply left-4 w-1/3 bg-yellow-400 h-full absolute top-0  -translate-y-full duration-500 group-hover:translate-y-0 delay-150 -z-10 
}
.sp-child3{
     @apply left-9 w-1/3 bg-yellow-400 h-full absolute top-0  -translate-y-full duration-500 group-hover:translate-y-0  delay-200 -z-10
}
.sp-child4{
     @apply left-14 w-1/3 bg-yellow-400 h-full absolute top-0  -translate-y-full duration-500 group-hover:translate-y-0 delay-300 -z-10
} */

/* @layer components {
     .CartBtnSlider{
          @apply  before:bg-green-500 before:text-white before:absolute before:top-0 before:left-0 before:w-full before:h-full before:flex before:justify-center before:items-center before:duration-500;
       
     }
     .CartBtnSlider{
          @apply  after:bg-red-500 after:text-white after:absolute after:top-0 after:left-0 after:w-full after:h-full after:flex after:justify-center after:items-center after:duration-500;
       
     }
     .CartBtnSlider::before{
         content: "BUTTON";
         transform: rotateX(270deg);
         transform-origin: top;
         transition-delay: 1s;
     }
     .CartBtnSlider:hover::before{
        transform: rotateX(0);

        transition-delay: 0.2s;
     }
     .CartBtnSlider::after{
         content: "BUTTON";
         transform: rotateX(270deg);
         transform-origin: top;
         transition-delay: 0.4s;
     }
     .CartBtnSlider:hover::after{
        transform: rotateX(0);
        transition-delay: 0.8s;
     }
} */


.btnHover {
      @apply before:bg-orange-400 before:absolute before:top-0 before:left-0 before:w-full before:h-full before:-translate-y-full before:duration-700  before:rounded-b-full  before:hover:translate-y-0  before:hover:h-[200%] before:-z-10
}

.rotationDiv {
      @apply before:w-full before:h-full before:absolute before:top-0 before:left-0 before:bg-gray-400 before:-z-10  before:duration-500  
}
.rotationDiv {
      @apply after:w-full after:h-full after:absolute after:top-0 after:left-0  after:bg-gray-400 after:-z-10  after:duration-700  
}
.rotationDiv:hover::before{
     
     transform: translateX(100%) scale(0) rotateY(360deg);
}
.rotationDiv::after{
     content: "BUTTON";
     transition: all 500ms ;
     display: flex;
     justify-content: center;
     align-items: center;
     transform: translateX(-100%) scale(0) rotateY(0);
}
.rotationDiv::before{
     content: "BUTTON";
     transition: all 500ms ;
     display: flex;
     justify-content: center;
     align-items: center;
}
.rotationDiv:hover::after{
     transform: translateX(0) scale(1) rotateY(360deg);
}